{
  "parser": "babel-eslint",
  "plugins": ["react", "flowtype"],
  "extends": ["eslint:all", "plugin:react/all", "plugin:flowtype/recommended"],
  "env": {
    "browser": true,
    "es6": true,
    "node": true,
    "jest": true
  },
  "parserOptions": {
    "ecmaVersion": 8
  },
  "rules": {
    "brace-style": ["warn", "1tbs", { "allowSingleLine": true }],
    "capitalized-comments": "off",
    "class-methods-use-this": "off",
    "comma-dangle": ["warn", "always-multiline"],
    "consistent-this": ["error", "self"],
    "dot-location": ["error", "property"],
    "func-style": ["error", "declaration", { "allowArrowFunctions": true }],
    "global-require": "off",
    "id-length": "warn",
    "indent": ["error", 2],
    "jsx-quotes": ["error", "prefer-double"],
    "line-comment-position": "off",
    "lines-around-directive": ["error", "never"],
    "max-len": ["error", {"code": 120}],
    "max-lines": ["warn", {"skipBlankLines": true}],
    "max-params": ["warn", 6],
    "max-statements": ["error", { "max": 30 }],
    "multiline-ternary": "off",
    "newline-after-var": "warn",
    "newline-before-return": "warn",
    "newline-per-chained-call": ["error", { "ignoreChainWithDepth": 2 }],
    "no-confusing-arrow": ["error", {"allowParens": true}],
    "no-console": "error",
    "no-inline-comments": "warn",
    "no-magic-numbers": "off",
    "no-multiple-empty-lines": ["error", { "max": 2, "maxEOF": 1 }],
    "no-negated-condition": "warn",
    "no-process-env": "off",
    "no-ternary": "off",
    "no-unused-vars": "error",
    "no-warning-comments": "warn",
    "object-curly-spacing": ["warn", "always", { "objectsInObjects": false }],
    "object-property-newline": ["error", { "allowMultiplePropertiesPerLine": true }],
    "one-var": ["error", { "var": "always", "let": "always", "const": "never" }],
    "operator-linebreak": ["error", "after", { "overrides": { "?": "before", ":": "before" } }],
    "padded-blocks": ["error", { "blocks": "never" }],
    "quote-props": ["error", "as-needed"],
    "quotes": ["error", "single"],
    "react/forbid-component-props": "off",
    "react/forbid-prop-types": "off",
    "react/jsx-boolean-value": "warn",
    "react/jsx-closing-bracket-location": ["warn", "after-props"],
    "react/jsx-filename-extension": ["warn", { "extensions": [".js", ".jsx"] }],
    "react/jsx-handler-names": "warn",
    "react/jsx-indent-props": ["warn", 2],
    "react/jsx-indent": ["warn", 2],
    "react/jsx-max-props-per-line": ["warn", { "maximum": 4 }],
    "react/jsx-no-bind": ["warn", {"allowArrowFunctions": true}],
    "react/jsx-no-literals": "error",
    "react/jsx-sort-props": ["error", {"callbacksLast": true, "shorthandLast": true, "ignoreCase": true}],
    "react/jsx-tag-spacing": ["warn", { "closingSlash": "never", "beforeSelfClosing": "never", "afterOpening": "never" }],
    "react/jsx-wrap-multilines": "off",
    "react/no-multi-comp": ["warn", { "ignoreStateless": true }],
    "react/no-set-state": "off",
    "react/prop-types": "error",
    "react/require-optimization": "off",
    "require-jsdoc": "off",
    "semi": ["warn", "never"],
    "sort-imports": "warn",
    "sort-keys": "off",
    "space-before-function-paren": ["error", "never"],
    "react/jsx-max-depth": ["warn", { "max": 5 }],
    "react/default-props-match-prop-types": 0,
    "react/require-default-props": 0
  }
}
